.button {
    height: 40px;
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    background: #20b2aa;
    color: #fff !important;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    font-weight: bold !important;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin: 3px;
}

.button:hover {
    background: teal;
}