.digital-timer {
    background: #fff;
    //   padding: 5px;
    height: 80px;
    width: 300px;
    border: solid 1px #eaeaea;
    text-align: center;
    line-height: 80px;
    border-radius: 3px;
    font-family: 'Arima Madurai', cursive;
    color: rgb(119, 113, 113);
    margin-left: 10%;
    p {
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }
}

.red {
    color: red;
}

@media screen and (max-width: 800px) {
    .digital-timer {
        margin: auto;
    }
}